<%= form_for(@account_petition) do |f| %>
  <% if @account_petition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account_petition.errors.count, "error") %> prohibited this account_petition from being saved:</h2>

      <ul>
      <% @account_petition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
