<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @account_petition.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @account_petition.description %>
</p>

<%= link_to 'Edit', edit_account_petition_path(@account_petition) %> |
<%= link_to 'Back', account_petitions_path %>
