<p id="notice"><%= notice %></p>

<h1>Listing Repports</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Preview</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @repports.each do |repport| %>
      <tr>
        <td><%= repport.title %></td>
        <td><%= repport.date %></td>
        <td><%= repport.preview %></td>
        <td><%= repport.description %></td>
        <td><%= link_to 'Show', repport %></td>
        <td><%= link_to 'Edit', edit_repport_path(repport) %></td>
        <td><%= link_to 'Destroy', repport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Repport', new_repport_path %>
